@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
   
    background-color: #ebe9e9;
    margin: 0;
    padding: 0; 
    cursor: pointer;
  
}
.main {
  display: flex;
  height: calc(100vh - 60px); /* Assuming header is 60px */
   /* overflow: hidden; */
}
 
.main .content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
 height: 100%;
}
.algo{
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: bold;

}

header {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


 


/* header */

.header {
  padding: 0.5rem 1rem;
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.btnn {
border: none;
 border-radius: 5px;
 

}
.btnn:hover{
 color: rgb(9, 91, 146);
}

.dropdown-menu {
  min-width: 160px;
  background: #fff;
  border-radius: 8px;
  z-index: 999;
}

.dropdown-menu a {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}



/* sidebaar */


/* Sidebar Wrapper */
.sidebarwrapper {
   width: 250px;
  transition: width 0.3s ease;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  color: #000000;
  position: relative;
}

/* When Sidebar is Collapsed */
.sidebarwrapper.active {
  width: 70px;
}

/* Sidebar Container */
.sidebar {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 10px;
  /* scrollbar-width: thin;  */
   /* scrollbar-color: #444 #1e1e2f;  */
}

/* Section Title */
.sidebar .h1 {
  font-size: 0.8rem;
  text-transform: none;
  margin: 1.2rem 0 0.5rem;
  padding-left: 10px;
  color:gray;

}

/* Sidebar List */
.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  
}

/* Sidebar List Items */
.sidebar li {
  margin-bottom: 10px;
  display: flex;
 
}

/* Sidebar Buttons */
.sidebar button {
  display: flex;
  align-items: center;
  gap: 10px;
   text-decoration: none;
  justify-content: flex-start;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
color: rgb(3, 3, 29);
  text-align: left;
  transition: all 0.1s  ease-in-out;
}

/* Active/hover state */
.sidebar button:hover {
  background-color: #333556;
  color: white;
}


/* Icons inside button */
.sidebar .icon {
  font-size: 1.1rem;
}
.sidebar .icon-text{
  font-size: 13px;
}

/* Collapsed State: hide text, center icons */
.sidebarwrapper.active .sidebar .h1,
.sidebarwrapper.active .sidebar button span:not(.icon) {
  display: none;
}

.sidebarwrapper.active .sidebar button {
  justify-content: center;
  padding: 12px 0;
}
/* Collapsed State: center icons */
.sidebarwrapper.active .sidebar button .icon {
  margin: 0 auto;
  font-size: 1.rem;
}

.sidebarwrapper.active .sidebar .arr{
  display: none;
}

/* Active state for buttons */
.nav-active button {
   background-color: #333556;
  color: white;
  font-size: 13px;
  font-weight: bold;
 
}


/* Divider */
.sidebar hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}

/* Scrollbar styles */

  ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #979191;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #333556;
}


::-webkit-scrollbar-track {
  background: #ebebf2;
}


/* dashborad page css */


  .dashboardBoxWrapper{ 
    border-radius: 10px;
    width: 100%; height: 100vh;
    display: flex; flex-wrap: wrap; 

    text-align: center;
    justify-content: center;
    align-items: center;
   

 }

.dashboardBoxWrapper .dashboardBox{ 
    width:100%;
      border-radius: 10px;
    box-shadow: 0 0 5px rgb(72, 70, 70);
    height:98vh; background-color: #fff;
    padding: 20px;
    text-align: center;
 
}

.dashboardBoxWrapper .dashboardBox2{ 
    width: 100%;
    box-shadow: 0 0 5px rgb(106, 102, 102);
    height: 270px;
     background-color:#fff;
    padding: 20px;
    border-radius: 10px;
 
}

.topic{
    font-size: 15px;
    color: rgb(9, 91, 146);
    font-weight: bold; text-transform: uppercase; font-family: arial;
    
} 
.plans{
  width: 100%;
border: 1px solid rgb(208, 203, 203);
  padding: 15px;
  border-radius: 8px;
  background-color: whitesmoke;
}
.starter{
  font-size: 14px;
 color: rgb(9, 91, 146);
   font-weight: bold;
   margin-top: 10px;
}
.plan{
  font-size: 14px;
  font-weight: bold;
}
.a{
  font-size: 17px;
}

.active-plan{
  font-size: 13px;
  
  color:rgb(150, 12, 12)
}
.suggestion{
  font-size: 14px;
}
.money{
 
  margin-top: 10px;
border-radius: 8px;
background:white;
padding: 10px 10px;
border: 1px solid rgb(186, 171, 171);
}
.input{
  border: none;
}

.money-bt:hover{
  background-color: #333556;

}